<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
 <head>
   <title>Hello World</title>
   <meta charset="utf-8" />
 </head>
 <body>
   <h1>Hello Spring</h1>
   <p>
     <span th:text="${message}"></span>
   </p>
 </body>
</html>